In [ ]:
### Task 1

from mysql.connector.pooling import MySQLConnectionPool

In [ ]:
from mysql.connector import Error, PoolError

In [ ]:
dbconfig={"database":"little_lemon_db", "user":"your_username", "password":"your_password"}

pool = MySQLConnectionPool(pool_name="pool_b",
                          pool_size=2,
                          **dbconfig)

In [ ]:
### TASK 2

users = ["Guest 1", "Guest 2", "Guest 3"]
for i in range(pool.pool_size):
    try:
        conn = pool.get_connection()
    except PoolError as err:
        print("Error in connecting: {}".format(err))
    if conn.is_connected:
        cursor = conn.cursor()
#           print("{}\'s Connection ID {} on booking id {} "
#               .format(users[i],conn.connection_id, i+1))
        if i == 0:
            query = """
            INSERT INTO Bookings(
            TableNo,
            GuestFirstName,
            GuestLastName,
            BookingSlot,
            EmployeeID
            ) 
            VALUES (8, "Anees", "Java", "18:00:00", 6)
            """
            cursor.execute(query)
        elif i == 1:
            query = """
            INSERT INTO Bookings(
            TableNo,
            GuestFirstName,
            GuestLastName,
            BookingSlot,
            EmployeeID
            ) 
            VALUES (5, "Bald", "Vin", "19:00:00", 6)
            """
            cursor.execute(query)
        elif i == 2:
            query = """
            INSERT INTO Bookings(
            TableNo,
            GuestFirstName,
            GuestLastName,
            BookingSlot,
            EmployeeID
            ) 
            VALUES (12, "Jay", "Kon", "19:30:00", 6)
            """
            cursor.execute(query)
       
        print(cursor.fetchall())
    else:
        print("No Connection")
    conn.commit()
    conn.close()

In [ ]:
### TASK 3

manager_details = "SELECT Name, EmployeeID FROM Employees WHERE Role = 'Manager';"
highest_salary_empl = "SELECT Name, Role FROM Employees WHERE Annual_Salary = (SELECT Max(Annual_Salary) FROM Employees);"
guests_18_to_20 = "SELECT COUNT(GuestFirstName) AS NumberOfGuests FROM Bookings WHERE BookingSlot >= '18:00:00' AND BookingSlot <= '20:00:00';"
guests_to_be_seated = "SELECT CONCAT(GuestFirstName,' ',GuestLastName) AS FullName, BookingID FROM Bookings ORDER BY BookingSlot;"

ex = cursor.execute(manager_details + highest_salary_empl + guests_18_to_20 + guests_to_be_seated, multi=True)

print("Report:\n")
for cur in ex:
    print(cur.column_names)
    if cur.with_rows:
        print(cur.fetchall())
        print('\n')
# print(result)

In [ ]:
### TASK 4

basic_sales_rep_proc = """
CREATE PROCEDURE BasicSalesReport() 
BEGIN
SELECT SUM(BillAmount) AS TotalSales FROM Orders;
SELECT AVG(BillAmount) AS AverageSale FROM Orders;
SELECT MIN(BillAmount) AS MinBillPaid FROM Orders;
SELECT MAX(BillAmount) AS MaxBillPaid FROM Orders;
END
"""

In [ ]:
cursor.execute(basic_sales_rep_proc,multi=True)

In [ ]:
cursor.callproc(basic_sales_rep_proc)

results = next(cursor.stored_results())

In [ ]:
dataset = results.fetchall()

In [ ]:
print(dataset)

In [ ]:
print("Report:\n"ï¼‰
print(results.column_names)

for data in dataset:
    print(data)

In [ ]:
### TASK 5

try:
    conn = pool.get_connection()
except PoolError as err:
    print("Error in connecting: {}, Try again".format(err))
    conn.close()
if conn.is_connected:
    cursor = conn.cursor(buffered=True)
    bookings_employee_view = """
    CREATE VIEW BkEmplView AS
    SELECT * FROM Bookings bk
    INNER JOIN Employees emp ON bk.EmployeeID = emp.EmployeeID ORDER BY bk.EmployeeID ASC 
    """
    cursor.execute(bookings_employee_view)
    first_three_guests = """
    SELECT BookingSlot, 
    CONCAT(GuestFirstName, ' ', GuestLastName) AS Guest_name,
    Name, 
    Role
    FROM BkEmplView LIMIT 3
    """
    cursor.execute(first_three_guests)
    print(cursor.column_names)
    print(cursor.fetchall())
    conn.close()